{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Messenger</title>    
{% endblock title %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'messenger/css/chat.css' %}">
    <div class="chat-section">
        {% if chat_user %}
            {% if chat_user.user.useraccount.profile_pic %}
            <img class="h-44 w-44 rounded-full" src="/media/{{chat_user.user.useraccount.profile_pic}}" alt="Profile pic">
        {% else %} 
            <img class="h-44 w-44 rounded-full" src="{% static '/images/user-circle.png' %}" alt="profile pic"> 
        {% endif %} 
            <span class="font-bold text-xl">{{chat_user.user.username}}</span>
            <a href="{% url 'users:user-profile' user_id=chat_user.user_id %}">
                <span class="view-profile">
                    View Profile
                </span>
            </a>
            <div class="messages-section">
                {% if all_messages %}
                    {% for message in all_messages %}
                        <div class="message">
                            {% if message.from_user == user %}
                                <div class="messages-sent">
                                    <div class="message-content-sent">
                                        <h2>You</h2>
                                        <h3>{{message.message}}</h3>
                                        <span style="color:rgb(55, 55, 55);">{{message.created_at}}</span>
                                        <div class="corner"></div>
                                    </div>
                                    {% if message.from_user.useraccount.gender == 'M' %}
                                        <img id="chat-pic" src="{% static 'images/profile2.png' %}" alt="avatar">
                                    {% else %}
                                        <img id="chat-pic" src="{% static 'images/girl.png' %}" alt="avatar">
                                    {% endif %}
                                </div>
                                
                            {% else %}
                                <div class="messages-recieve">
                                    {% if message.from_user.useraccount.gender == 'M' %}
                                        <img id="chat-pic" src="{% static 'images/profile2.png' %}" alt="avatar">
                                    {% else %}
                                        <img id="chat-pic" src="{% static 'images/girl.png' %}" alt="avatar">
                                    {% endif %}
                                    <div class="message-content-recieve">
                                        <h2 style="color:#0067b5;">{{message.from_user}}</h2>
                                        <h3>{{message.message}}</h3>
                                        <span style="color:rgb(55, 55, 55);">{{message.created_at}}</span>
                                        <div class="corner"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% comment %} <form class="sent-message" action="" method="POST">
                    {% csrf_token %} {% endcomment %}
                {% comment %} </form> {% endcomment %}
            </div>
            <div class="message-input-section">
                <input type="text" name="message-input" id="message-input" placeholder="Type here . . ." value="">
                {% comment %} <span class="sent-icon material-symbols-outlined">
                    send
                </span> {% endcomment %}
            </div>
        {% endif %}
            
    </div>
    <script>
        window.scrollTo(0, document.body.scrollHeight);
        window.scrollTo(0, document.documentElement.scrollHeight);
        const messageInput = document.getElementById("message-input");
        const sendMessageButton = document.querySelector(".sent-icon");
        const sendMessage = document.getElementById("send-message");
        messageInput.focus();
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + '{{user.id}}'
            + '/'
            + '{{chat_user.user_id}}'
            + '/'
        );

        messageInput.addEventListener("keydown", function (event) {
            //messageForm.submit();
            if(event.key == 'Enter'){
                const data = {
                    "message": messageInput.value,
                    "receiver": '{{chat_user.user_id}}',
                    "sender": '{{user.id}}',
                }
                chatSocket.send(JSON.stringify(data));
                messageInput.value = '';
            }
        });

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            const messageContainer = document.createElement('div');
            messageContainer.classList.add('message');

            const messageSent = document.createElement('div');
            if('{{user.id}}' == data.from_user){
                messageSent.classList.add('messages-sent');
            }else{
                messageSent.classList.add('messages-recieve');
            }
              

            const messageContentSent = document.createElement('div');
            if('{{user.id}}' == data.from_user){
                messageContentSent.classList.add('message-content-sent');
            }else{
                messageContentSent.classList.add('message-content-recieve');
            }
            
            const messageContentSentHeading = document.createElement('h2');
            if('{{user.id}}' == data.from_user){
                messageContentSentHeading.textContent = "You";
            }else{
                messageContentSentHeading.textContent = "{{chat_user.user}}";
                messageContentSentHeading.style.color = '#0067b5';
            }
            

            const messageContentSentContent = document.createElement('h3');
            messageContentSentContent.textContent = data.message;

            const messageContentSentContentCorner = document.createElement('div');
            messageContentSentContentCorner.classList.add('corner');

            const messageContentSentImg = document.createElement('img');
            messageContentSentImg.id = "chat-pic";
            if(data.from_user_gender == 'M'){
                messageContentSentImg.src = "{% static '/images/profile2.png' %}";
            }else{
                messageContentSentImg.src = "{% static '/images/girl.png' %}";
            }
            messageContentSentImg.alt = "avatar";

            const messageContentSentContentDate = document.createElement('span');
            const dateString = data.created_at;

            const date = new Date(dateString);
            const months = [
                "Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sep.", "Oct.", "Nov.", "Dec."
            ];
            // Get day, month, year
            const day = date.getDate();
            const month = months[date.getMonth()];
            const year = date.getFullYear();
            // Get hours and minutes
            let hours = date.getHours();
            const minutes = date.getMinutes();
            let period = "a.m.";
            // Convert to 12-hour format and determine period (a.m. or p.m.)
            if (hours > 12) {
                hours -= 12;
                period = "p.m.";
            }
            // Construct the formatted date and time string
            const formattedDateString = `${month} ${day}, ${year}, ${hours}:${(minutes < 10 ? '0' : '') + minutes} ${period}`;

            messageContentSentContentDate.textContent = formattedDateString;
            messageContentSentContentDate.style.color = 'rgb(55, 55, 55)';
            
            messageContentSent.appendChild(messageContentSentHeading);
            messageContentSent.appendChild(messageContentSentContent);
            messageContentSent.appendChild(messageContentSentContentDate);
            messageContentSent.appendChild(messageContentSentContentCorner);
            if('{{user.id}}' != data.from_user){
                messageSent.appendChild(messageContentSentImg);
            }
            messageSent.appendChild(messageContentSent);
            if('{{user.id}}' == data.from_user){
                messageSent.appendChild(messageContentSentImg);
            }
            messageContainer.appendChild(messageSent);
            
            // Assuming 'messagesContainer' is a div where you want to append these message containers
            const messagesContainer = document.querySelector('.messages-section');
            messagesContainer.appendChild(messageContainer);

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
{% endblock main_content %}
    
    