{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Messenger</title>    
{% endblock title %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'messenger/css/chat.css' %}">
    <div class="chat-section">
        {% if chat_user %}
            {% if chat_user.user.useraccount.gender == 'M' %}
                <img src="{% static 'images/profile2.png' %}" alt="avatar">
            {% else %}
                <img src="{% static 'images/girl.png' %}" alt="avatar">
            {% endif %}
            <h1>{{chat_user.user.username}}</h1>
            <a href="{% url 'users:user-profile' user_id=chat_user.user_id %}">
                <span class="view-profile">
                    View Profile
                </span>
            </a>
            <div class="messages-section">
                {% if all_messages %}
                    {% for message in all_messages %}
                        <div class="message">
                            {% if message.from_user == user %}
                                <div class="messages-sent">
                                    <div class="message-content-sent">
                                        <h2>You</h2>
                                        <h3>{{message.message}}</h3>
                                        <span style="color:rgb(55, 55, 55);">{{message.created_at}}</span>
                                        <div class="corner"></div>
                                    </div>
                                    {% if message.from_user.useraccount.gender == 'M' %}
                                        <img id="chat-pic" src="{% static 'images/profile2.png' %}" alt="avatar">
                                    {% else %}
                                        <img id="chat-pic" src="{% static 'images/girl.png' %}" alt="avatar">
                                    {% endif %}
                                </div>
                                
                            {% else %}
                                <div class="messages-recieve">
                                    {% if message.from_user.useraccount.gender == 'M' %}
                                        <img id="chat-pic" src="{% static 'images/profile2.png' %}" alt="avatar">
                                    {% else %}
                                        <img id="chat-pic" src="{% static 'images/girl.png' %}" alt="avatar">
                                    {% endif %}
                                    <div class="message-content-recieve">
                                        <h2 style="color:#0067b5;">{{message.from_user}}</h2>
                                        <h3>{{message.message}}</h3>
                                        <span style="color:rgb(55, 55, 55);">{{message.created_at}}</span>
                                        <div class="corner"></div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
                <form class="sent-message" action="{% url 'messenger:sent-message' user_id=chat_user.user_id %}" method="POST">
                    {% csrf_token %}
                    <div class="message-input-section">
                        <input type="text" name="message-input" id="message-input" placeholder="Type here . . ." value="">
                        {% comment %} <img id="send-message-button" src="{% static 'messenger/images/message.png' %}" alt="sent" title="Send" onclick="submit()"> {% endcomment %}
                        <span class="sent-icon material-symbols-outlined">
                            send
                        </span>
                    </div>
                </form>
            </div>
        {% endif %}
            
    </div>
    <script>
        {% comment %} const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + '{{chat_user.user_id}}'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data.message);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        }; {% endcomment %}

        const messageInput = document.getElementById("message-input");
        const sendMessageButton = document.querySelector(".sent-icon");
        const messageForm = document.querySelector(".sent-message");

        {% comment %} sendMessageButton.addEventListener("click", function () {
            //messageForm.submit();
            console.log(WebSocket.OPEN)
            chatSocket.onopen = function(event) {
                // Send form data when WebSocket connection is established
                chatSocket.send(JSON.stringify(messageInput.value));
            };
        }); {% endcomment %}
        window.scrollTo(0, document.body.scrollHeight);
        window.scrollTo(0, document.documentElement.scrollHeight);
    </script>
{% endblock main_content %}
    
    