/* @import url("https://fonts.googleapis.com/css?family=Sofia"); */

@font-face {
  font-family: 'Poppins-Regular';
  src: local('Poppins-Regular'),
       url('/static/fonts/Poppins-Regular.ttf') format("truetype");
}
body {
    background: rgb(255, 255, 255);
    font-family: 'Poppins-Regular', sans-serif;
    /* color: rgb(0, 0, 0); */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
}

.alert{
  height: 50px;
  width: 300px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  animation: hideme 5s forwards;
}
.alert-success{
  background-color: #63ff95;
  color: rgb(0, 0, 0);
}
.alert-warning{
  background-color: #ff6d63;
  color: rgb(0, 0, 0);
}

.header-section {
  background: rgb(100, 250, 160);
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  /* box-shadow: 0 5px 50px rgba(0, 200, 255, 0.938); */
}
.header-section span{
  cursor: pointer;
  margin: 10px;
}

.material-symbols-outlined {
  font-weight: 500;
  font-size: larger;
  transition: transform .2s;
}
.material-symbols-outlined:hover {
  transform: scale(1.1);
}

#user-name, #add-post, #options-icon  {
  cursor: pointer;
  margin-left: 10px;
}
.header-icons {
  margin-right: 20px   ;
  margin-left: auto;
}

@keyframes hideme {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* a{
  text-decoration: none;
  color: black;
} */
/* width */

#scrollTop {
  position: fixed;
  z-index: 2;
  right: 50px;
  bottom: 50px;
  background-color: rgb(117, 117, 117);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: xx-large;
  cursor: pointer;
}
.breadcrumbs {
  /* background-color: #63ff95; */
  color: #63ff95;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 50px;
  margin: 10px;
}

