::-webkit-scrollbar {
    border-radius: 0 2rem 2rem 0;
    position: absolute;
    display: none;
    background-color: rgb(250, 250, 250);
    height: auto;
    width: .5rem;
    cursor: pointer;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(213, 213, 213);
    border-radius: 2rem;
    cursor: pointer;
}
.public-popup-item {
    transition: transform .2s;
}
.public-popup-item:hover {
    transform: scale(1.08);
}
.post-button {
    transition: transform .2s;
}
.post-button:hover {
    transform: scale(1.15);
}