/* styles.css */
.loader-container {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295); /* Semi-transparent white overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 3rem;
    height: 3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
