{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Profile</title>
{% endblock title %}
{% block main_content %}
    <link rel="stylesheet" href="{% static '/users/css/profile.css' %}">
    {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>&nbsp;
            </div>
        {% endfor %}
    <div class='profile-section'>
        
        <div class='profile-content'>
            <div class='profile-pic-section'>
                {% if account_details %}
                    {% comment %} {% if account_details.profile_pic %}
                        <img id="profile-pic" src="/media/{{account_details.profile_pic}}" alt="profile pic">
                        <form id="profile-pic-edit-popup" action="{% url 'users:update-profilepic' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span id="close-profile-pic-edit-popup"><i class="fa fa-times" aria-hidden="true"></i></span>
                            <h2>Edit profile pic</h2>
                            <div class="edit-profile-image-section">
                                <span id="delete-profile-pic" class="material-symbols-outlined">
                                    delete
                                </span>
                                <img id="edit-profile-image" src="" alt="Profile image">
                            </div>
                            <input type="file" id="upload-profile-pic-input" name="uploaded_profile_pic" value="">
                            <label id="upload-profile-pic" for="upload-profile-pic-input">
                                Upload image
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </label>
                            <span id="save-profile-pic">
                                Save
                            </span>
                        </form>
                    {% else %} {% endcomment %}
                    {% if account_details.gender == 'M' %}
                        <img id="profile-pic" src="{% static '/images/avatars/batman2.jpg' %}" alt="profile pic">
                    {% else %}
                        <img id="profile-pic" src="{% static '/images/avatars/catwomen.jpg' %}" alt="profile pic">
                    {% endif %}
                        <form id="profile-pic-edit-popup" action="{% url 'users:update-profilepic' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span id="close-profile-pic-edit-popup"><i class="fa fa-times" aria-hidden="true"></i></span>
                            <h2>Edit profile pic</h2>
                            <div class="edit-profile-image-section">
                                <span id="delete-profile-pic" class="material-symbols-outlined">
                                    delete
                                </span>
                                <img id="edit-profile-image" src="" alt="Profile image">
                            </div>
                            <input type="file" id="upload-profile-pic-input" name="uploaded_profile_pic" value="">
                            <label id="upload-profile-pic" for="upload-profile-pic-input">
                                Upload image
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </label>
                            <span id="save-profile-pic">
                                Save
                            </span>
                        </form>
                    {% comment %} {% endif %} {% endcomment %}
                <div class="full-name-section">
                    <div id="fullname">
                        <h1>{{account_details.full_name}}</h1>
                    </div>
                    <div id="full-name-input-section">
                        <input id="fullname-input" type="text" value="">
                        <a id="edit-fullname-url" href="{% url 'users:update-fullname' fullname='Nthaada ninak perille?' %}">
                            <span id="fullname-input-save" class="material-symbols-outlined">
                                task_alt
                            </span>
                        </a>
                    </div>
                </div>
                <div class="followers-section">
                    <div class="post-count">
                        <b>{{posts_count}}</b>
                        <span>Posts</span>
                    </div>
                    <div class="followers">
                        <b>{{followers}}</b>
                        <span>Followers</span>
                    </div>
                    <div class="following">
                        <b>{{following}}</b>
                        <span>Following</span>
                    </div>
                </div>
                <div class='about-section'>
                    <h2>About</h2>
                    <span>{{account_details.bio}}</span>
                </div>
                {% endif %}
            </div>
            <div class='profile-post-section'>
                <div class="create-post-section">
                    <span class='create-post-button' id='create-post-button'>Create post<i class="fa fa-plus" aria-hidden="true"></i></span>
                    <div class="create-post-popup" id="create-post-popup">
                        <form id="form" action="{% url 'posts:create-post' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <span id="close-button"><i class="fa fa-times" aria-hidden="true"></i></span>
                            <h2>Create new post</h2>
                            <h3 id="cant-post">Write something to post idiot . . .</h3>
                            {% comment %} <div class="image-section">
                                <span id="clear-image-button"><i class="fa fa-times" aria-hidden="true"></i></span>
                                <img id="uploaded-image" src="" alt="">
                            </div>
                            <div id="upload-button">
                                <input type="file" id="upload-input" name="uploaded_image" value="">
                                <label for="upload-input" class='upload-button'>Upload image<i class="fa fa-arrow-up" aria-hidden="true"></i></label>
                            </div> {% endcomment %}
                            <div class="post-caption">
                                {% comment %} <h3>Write post</h3> {% endcomment %}
                                <textarea class="caption" type="text" name="caption" id="caption" placeholder="Write something here..."></textarea>
                            </div>
                            <div>
                                <span id="post-button">Post<i class="fa fa-upload" aria-hidden="true"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="posts">
                    <div class="joined">
                        <h3>Joined on {{user.date_joined}}</h3>
                    </div>
                    {% if posts %}
                        {% for post in posts %}
                            {% comment %} <img class="post" src="/media/{{post.post_img}}" alt="post" data-post-id="{{post.id}}" onclick=handleImageClick(this)> {% endcomment %}
                            <div class="post">
                                <h2>{{post.caption}}</h2>
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <span style="font-weight:bold;">{{post.created_at}}</span>
                                <span class="delete-post material-symbols-outlined" data-post-id="{{post.id}}" onclick="deletePost(this)">
                                    delete
                                </span>
                            </div>
                        {% endfor %}
                        <div id="post-detail-popup">

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const createPostPopup = document.getElementById("create-post-popup");
        const createPostButton = document.getElementById("create-post-button");
        const popupCloseButton = document.getElementById("close-button");
        const fileInput = document.getElementById('upload-input');
        const uploadProfilePic = document.getElementById('upload-profile-pic');
        const saveProfilePic = document.getElementById('save-profile-pic');
        const uploadProfilePicfileInput = document.getElementById('upload-profile-pic-input');
        const imageDisplay = document.getElementById('uploaded-image');
        const editProfileImageDisplay = document.getElementById('edit-profile-image');
        const imageClearButton = document.getElementById('clear-image-button');
        const deleteProfilePicButton = document.getElementById('delete-profile-pic');
        const uploadButton = document.getElementById('upload-button');
        const postButton = document.getElementById('post-button');
        const form = document.getElementById("form");
        const caption = document.getElementById("caption");
        const fullname = document.getElementById("fullname");
        const fullnameInputSection = document.getElementById("full-name-input-section");
        const fullnameSaveIcon = document.getElementById("fullname-input-save");
        const fullnameInput = document.getElementById("fullname-input");
        const editFullnameUrl = document.getElementById("edit-fullname-url");
        const profilePic = document.getElementById("profile-pic");
        const profilePicEditPopup = document.getElementById("profile-pic-edit-popup");
        const profilePicEditPopupClose = document.getElementById("close-profile-pic-edit-popup");
        const cantPostWarning = document.getElementById("cant-post");
        var fullnameValue = "Nthaada ninak perille?";

        profilePicEditPopupClose.addEventListener("click", function(){
            profilePicEditPopup.style.display = "none";
        })
        {% comment %} profilePic.addEventListener("click", function(){
            profilePicEditPopup.style.display = "flex";
            createPostPopup.style.display = "none";
        }) {% endcomment %}
        fullname.addEventListener("click", function(){
            fullname.style.display = "none";
            fullnameInputSection.style.display = "flex";
            fullnameInput.focus();
        })
        fullnameInput.addEventListener("input", function(){
            var fullnameValue = fullnameInput.value;
            var new_url = `/user/update-fullname/${fullnameValue}/`;
            editFullnameUrl.href = new_url;
        })
        fullnameSaveIcon.addEventListener("click", function(){
            fullname.style.display = "block";
            fullnameInputSection.style.display = "none";
        })
        postButton.addEventListener("click", function () {
            if (caption.value){
                createPostPopup.style.display = "none";
                form.submit();
                cantPostWarning.style.display = "none";
            }
            else{
                cantPostWarning.style.display = "block";
            }

        })
        
        function handleImageClick(img){
            var postId = img.getAttribute('data-post-id');
            
        }
        function deletePost(post){
            var postId = post.getAttribute('data-post-id');
            $.ajax({
                url: '/posts/delete-post/' + postId,
                method: 'GET',
                success: function(response) {
                  // Handle the response
                  location.reload();
                },
                error: function(xhr, status, error) {
                  // Handle errors
                  console.error(error);
                }
              });          
        }
        createPostButton.addEventListener("click", function () {
            createPostPopup.style.display = "block";
            profilePicEditPopup.style.display = "none";
        })
        popupCloseButton.addEventListener("click", function () {
            createPostPopup.style.display = "none";
        })
        imageClearButton.addEventListener("click", function () {
            imageDisplay.style.display = "none";
            imageClearButton.style.display = "none";
            uploadButton.style.display = 'block';
        })
        fileInput.addEventListener('change', (event) => {
            const selectedFile = event.target.files[0];

            if (selectedFile && selectedFile.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                imageDisplay.src = e.target.result;
                imageDisplay.style.display = 'block';
                imageClearButton.style.display = 'block';
                uploadButton.style.display = 'none';
                };

                reader.readAsDataURL(selectedFile);
            } else {
                imageDisplay.style.display = 'none';
                imageClearButton.style.display = 'none';
                uploadButton.style.display = 'flex';
            }
        });
        uploadProfilePicfileInput.addEventListener('change', (event) => {
            const selectedFile = event.target.files[0];

            if (selectedFile && selectedFile.type.startsWith('image/')) {
                const reader = new FileReader();

                reader.onload = function (e) {
                editProfileImageDisplay.src = e.target.result;
                editProfileImageDisplay.style.display = 'block';
                deleteProfilePicButton.style.display = 'block';
                uploadProfilePic.style.display = 'none';
                saveProfilePic.style.display = 'flex';
                };

                reader.readAsDataURL(selectedFile);
            } else {
                editProfileImageDisplay.style.display = 'none';
                deleteProfilePicButton.style.display = 'none';
                uploadProfilePic.style.display = 'flex';
                saveProfilePic.style.display = 'none';
            }
        });
        deleteProfilePicButton.addEventListener("click", function () {
            uploadProfilePic.style.display = 'flex';
            editProfileImageDisplay.src = '';
            editProfileImageDisplay.style.display = 'none';
            saveProfilePic.style.display = 'none';
            deleteProfilePicButton.style.display = 'none';
        });
        {% comment %} saveProfilePic.addEventListener("click", function () {
            profilePicEditPopup.submit();
            editProfileImageDisplay.src = '';
            profilePicEditPopup.style.display = "none";
        }); {% endcomment %}

    </script>
{% endblock main_content %}
