{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Sign up • Keralagram</title>
{% endblock title %}
{% block header %}
{% endblock header %}    
{% block main_content %}
    {% comment %} <link rel="stylesheet" href="{% static '/users/css/signup.css' %}"> {% endcomment %}
    <div class="flex items-center justify-center w-full h-full text-black overflow-hidden">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>&nbsp;
            </div>
            {% endfor %}
        {% endif %}
        <div>
            <form id="form" class="w-[30em] h-auto bg-gradient-to-r from-blue-300 to-violet-300 p-2 gap-2 rounded-xl flex flex-col items-center justify-center relative" action="/user/register-user/" method="post">
                <a class="flex flex-row items-center absolute top-2 left-2" href="{% url 'users:login' %}">
                    <img class="w-6 h-6" src="{% static 'images/left-arrow.png' %}" alt="back">
                    <span class="text-gray-800 font-bold">login</span>
                </a>
                <img class="w-20 h-20" src="{% static 'images/letter-k.png' %}" alt="">
                <span class="font-extrabold text-3xl mb-6">Keralagram</span>
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                <input class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" id="username" type="text" name="username" placeholder="User name">
                <input class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" id="fullname" type="text" name="fullname" placeholder="Full name">
                <input class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" id="email" type="email" name="email" placeholder="Email">
                <select class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" name="gender" id="gender" placeholder="Gender">
                    <option value="" disabled selected>Select a gender</option>
                    {% for key, gender in gender_choices.items %}
                        <option value="{{key}}">{{gender}}</option>
                    {% endfor %}
                </select>
                <input class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" id="phone" type="tel" name="phone" placeholder="Phone number" maxlength="10">
                <input class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" id="password1" type="password" name="password" placeholder="Password">
                <input class="w-2/3 bg-transparent border-b-4 border-gray-800 focus:ring-0 rounded-full" id="password2" type="password" name="password" placeholder="Confirm Password">
                <span id="warning" class='font-extrabold text-red-600'></span>
                <span class="w-3/4">By signing up, you agree to our Terms , <a class="font-bold text-blue-green" href="">Privacy Policy and Cookies Policy</a> .</span>
                <span id="signup-button" class="bg-gray-800 p-3 mt-4 rounded-full w-3/4 text-blue-200 font-extrabold text-xl flex justify-center">Sign up</span>
            </form>
        </div>
        {% comment %} <div class="login-section">
            <span>Already have an account?<a href="/user/login"><b style="cursor:pointer;font-size:larger;color:rgb(0, 200, 100);">Login</b></a></span>
        </div> {% endcomment %}
    </div>
    <script>
        const username = document.getElementById("username");
        const email = document.getElementById("email");
        const fullname = document.getElementById("fullname");
        const password1 = document.getElementById("password1");
        const password2 = document.getElementById("password2");
        const form = document.getElementById("form");
        const submitButton = document.getElementById("signup-button");
        const warning = document.getElementById("warning");
        warning.textContent = "";
        var submit = false;

        password2.addEventListener("change", function(){
            if(password2.value==password1.value){
                submit = true;
            }else{
                warning.textContent = "Password doesnt match!";
                submit = false;
            }
        })
        submitButton.addEventListener("click", function(){
            if(!username.value){
                warning.textContent = "Enter user name!";
                submit = false;
            }
            else if(!fullname.value){
                warning.textContent = "Enter your full name!";
                submit = false;
            }
            else if(!email.value){
                warning.textContent = "Enter your email ID!";
                submit = false;
            }
            else if(!password1.value){
                warning.textContent = "Enter your password!";
                submit = false;
            }
            else if(!password2.value){
                warning.textContent = "Confirm your password!";
                submit = false;
            }
            else if(password2.value==password1.value){
                warning.textContent = "";
                submit = true;
            }else{
                warning.textContent = "Password doesnt match!";
                submit = false;
            }
            if(submit){
                form.submit();   
                warning.style.display = "none";
            }else{
                warning.style.display = "block";
            }
        })
        function go(){
            if(submit){
                {% comment %} form.submit(); {% endcomment %}
            }
        }

    </script>
{% endblock main_content %}