{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Sign up • Keralagram</title>
{% endblock title %}
{% block header %}
{% endblock header %}    
{% block main_content %}
    <link rel="stylesheet" href="{% static '/users/css/signup.css' %}">
    <div class="main">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>&nbsp;
            </div>
            {% endfor %}
        {% endif %}
        <div>
            <form id="form" class="signup-section" action="/user/register-user/" method="post">
                <a class="go-back-section" href="{% url 'users:login' %}">
                    <img id="go-back" src="{% static 'images/go-back.png' %}" alt="back">
                </a>
                <img id="logo" src="{% static 'images/logo.png' %}" alt="">
                <h1>Keralagram</h1>
                {% csrf_token %}
                {% comment %} {{form.as_p}} {% endcomment %}
                <input id="username" type="text" name="username" placeholder="User name">
                <input id="email" type="email" name="email" placeholder="Email">
                <input id="fullname" type="text" name="fullname" placeholder="Full name">
                <select name="gender" id="gender" placeholder="Gender">
                    <option value="" disabled selected>Select a gender</option>
                    {% for key, gender in gender_choices.items %}
                        <option value="{{key}}">{{gender}}</option>
                    {% endfor %}
                </select>
                <input id="phone" type="tel" name="phone" placeholder="Phone number" maxlength="10">
                <input id="password1" type="password" name="password" placeholder="Password">
                <input id="password2" type="password" name="password" placeholder="Confirm Password">
                <span id="warning"></span>
                <p>By signing up, you agree to our Terms , <a style="cursor:pointer;font-size:larger;color:rgb(0, 200, 100);" href="">Privacy Policy and Cookies Policy</a> .</p>
                <span id="signup-button" class="signup-button">Sign up</span>
            </form>
        </div>
        {% comment %} <div class="login-section">
            <span>Already have an account?<a href="/user/login"><b style="cursor:pointer;font-size:larger;color:rgb(0, 200, 100);">Login</b></a></span>
        </div> {% endcomment %}
    </div>
    <script>
        const username = document.getElementById("username");
        const email = document.getElementById("email");
        const fullname = document.getElementById("fullname");
        const password1 = document.getElementById("password1");
        const password2 = document.getElementById("password2");
        const form = document.getElementById("form");
        const submitButton = document.getElementById("signup-button");
        const warning = document.getElementById("warning");
        warning.textContent = "";
        var submit = false;

        password2.addEventListener("change", function(){
            if(password2.value==password1.value){
                submit = true;
            }else{
                warning.textContent = "Password doesnt match!";
                submit = false;
            }
        })
        submitButton.addEventListener("click", function(){
            if(!username.value){
                warning.textContent = "Enter user name!";
                submit = false;
            }
            else if(!email.value){
                warning.textContent = "Enter your email ID!";
                submit = false;
            }
            else if(!fullname.value){
                warning.textContent = "Enter your full name!";
                submit = false;
            }
            else if(!password1.value){
                warning.textContent = "Enter your password!";
                submit = false;
            }
            else if(!password2.value){
                warning.textContent = "Confirm your password!";
                submit = false;
            }
            else{
                warning.textContent = "";
                submit = true;
            }
            if(submit){
                form.submit();   
                warning.style.display = "none";
            }else{
                warning.style.display = "block";
            }
        })
        function go(){
            if(submit){
                {% comment %} form.submit(); {% endcomment %}
            }
        }

    </script>
{% endblock main_content %}