{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Profile</title>
{% endblock title %}
{% block main_content %}
    <link rel="stylesheet" href="{% static '/users/css/profile.css' %}">
    <div class='profile-section'>
        <div class='profile-content'>
            <div class='profile-pic-section'>
                {% if account_details %}
                        {% comment %} {% if account_details.profile_pic %}
                            <img id="profile-pic" src="/media/{{account_details.profile_pic}}" alt="profile pic">
                        {% else %} {% endcomment %}
                            <img id="profile-pic" src="{% static '/images/profile.png' %}" alt="profile pic">
                        {% comment %} {% endif %} {% endcomment %}
                        <div class="full-name-section">
                            <h1 style="display:flex;align-items:center;justify-content:center;">{{account_details.full_name}}</h1>
                            <div class="full-name-buttons">
                                <a href="{% url 'users:follow' user_id=account_details.user_id %}">
                                    <span id="follow-button" class='follow-button'>
                                        Follow
                                        <span class="material-symbols-outlined">
                                            handshake
                                        </span>
                                    </span>
                                </a>
                                <a href="{% url 'users:unfollow' user_id=account_details.user_id %}">
                                    <span id="un-follow-button" class='follow-button'>
                                        Unfollow
                                        <span class="material-symbols-outlined">
                                            cancel
                                        </span>
                                    </span>
                                </a>
                                <a href="{% url 'messenger:chat' user_id=account_details.user_id %}">
                                    <span id="chat-button" class='chat-button'>
                                        Chat
                                        <span class="material-symbols-outlined">
                                            forum
                                            </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="followers-section">
                            <div class="post-count">
                                <b>{{posts_count}}</b>
                                <span>Posts</span>
                            </div>
                            <div class="followers">
                                <b>{{followers}}</b>
                                <span>Followers</span>
                            </div>
                            <div class="following">
                                <b>{{following}}</b>
                                <span>Following</span>
                            </div>
                        </div>
                        <div class='about-section'>
                            <h2>About</h2>
                            <span>{{account_details.bio}}</span>
                        </div>
                {% endif %}
            </div>
            <div class='profile-post-section'>
                <div class="posts">
                    <div class="joined">
                        <h3>Joined on {{user.date_joined}}</h3>
                    </div>
                    {% if posts %}
                        {% for post in posts %}
                            {% comment %} <img class="post" src="/media/{{post.post_img}}" alt="post"> {% endcomment %}
                            <div class="post">
                                <h2>{{post.caption}}</h2>
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <span style="font-weight:bold;">{{post.created_at}}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const createPostPopup = document.getElementById("create-post-popup");
        const createPostButton = document.getElementById("create-post-button");
        const popupCloseButton = document.getElementById("close-button");
        const fileInput = document.getElementById('upload-input');
        const imageDisplay = document.getElementById('uploaded-image');
        const imageClearButton = document.getElementById('clear-image-button');
        const uploadButton = document.getElementById('upload-button');
        const postButton = document.getElementById('post-button');
        const form = document.getElementById("form");
        const caption = document.getElementById("caption");
        const followButton = document.getElementById("follow-button");
        const unFollowButton = document.getElementById("un-follow-button");
        const followed = '{{ followed }}';
        
        console.log(followed)
        if(followed=='True'){
            unFollowButton.style.display = "flex";
            followButton.style.display = "none";
        }else{
            unFollowButton.style.display = "none";
            followButton.style.display = "flex";
        }
        followButton.addEventListener("click", function(){
            unFollowButton.style.display = "flex";
            followButton.style.display = "none";
        })
        unFollowButton.addEventListener("click", function(){
            unFollowButton.style.display = "none";
            followButton.style.display = "flex";
        })
    </script>
{% endblock main_content %}
