{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Keralagram</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static '/images/tree.jpg' %}">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% block main_content %}{% endblock main_content %}
</body>
</html>