{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block main_content %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
        <div class="users-section">
            <h1>Users</h1>
            <div class="users">
                {% if users %}
                    <button id="scroll-users-left" onmousedown="startScroll('left')" onmouseup="stopScroll()"></button>
                    {% for user in users %}
                    <a href="{% url 'users:user-profile' user_id=user.user_id %}">
                        <div class="user">
                            {% if user.gender == 'M' %}
                                <img id="profile-pic" src="{% static '/images/avatars/batman2.jpg' %}" alt="profile pic">
                            {% else %}
                                <img id="profile-pic" src="{% static '/images/avatars/catwomen.jpg' %}" alt="profile pic">
                            {% endif %}
                            <span>{{user.user.username}}</span>
                        </div>
                    </a>
                    {% endfor %}
                    <button id="scroll-users-right" onmousedown="startScroll('right')" onmouseup="stopScroll()"></button>
                {% endif %}
            </div>
        </div>
        <div class="posts-section">
            <h1>Following posts</h1>
            <div class="posts">
                {% if following_posts %}
                    {% for post in following_posts %}
                        <div class="post">
                            <div class="post-user">
                                {% if post.user.useraccount.gender == 'M' %}
                                    <img src="{% static 'images/avatars/batman2.jpg' %}" alt="Avatar">
                                {% else %}
                                    <img src="{% static 'images/avatars/catwomen.jpg' %}" alt="Avatar">
                                {% endif %}
                            </div>
                            <div class="post-content">
                                <h2>{{post.user.username}}</h2>
                                <h3>{{post.caption}}</h3>
                                <div style="display:flex;flex-direction:row;align-items:center;gap:10px;">
                                    <i style="color:rgb(113, 113, 113);" class="fa fa-upload" aria-hidden="true"></i>
                                    <h4>{{post.created_at}}</h4>
                                </div>
                                <div class="corner"></div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>No posts</h2>
                {% endif %}
            </div>
        </div>
        <div class="posts-section">
            <h1>All posts</h1>
            <div class="posts">
                {% if all_posts %}
                    {% for post in all_posts %}
                    <div class="post">
                        <div class="post-user">
                            {% if post.user.useraccount.gender == 'M' %}
                                <img src="{% static 'images/avatars/batman2.jpg' %}" alt="Avatar">
                            {% else %}
                                <img src="{% static 'images/avatars/catwomen.jpg' %}" alt="Avatar">
                            {% endif %}
                        </div>
                        <div class="post-content">
                            {% if post.user.id == user.id %}
                                <h2 style="color:rgb(2, 155, 166);">You</h2>
                            {% else %}
                                <h2>{{post.user.username}}</h2>
                            {% endif %}
                            <h3>{{post.caption}}</h3>
                            <div style="display:flex;flex-direction:row;align-items:center;gap:10px;">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <h4>{{post.created_at}}</h4>
                            </div>
                            <div class="corner"></div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h2>No posts</h2>
                {% endif %}
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>&nbsp;
                </div>
            {% endfor %}
        {% endif %}
        <span id="scrollTop" class="material-symbols-outlined" title="Scroll to top">
            keyboard_double_arrow_up
        </span>
        <script>
            const users = document.querySelector('.users');
            const scrollLeft = document.getElementById('scroll-users-left');
            const scrollRight = document.getElementById('scroll-users-right');
            const scrollTop = document.getElementById("scrollTop");
            window.onscroll = function () {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    scrollTop.style.display = 'flex';
                  } else {
                    scrollTop.style.display = 'none';
                  }
                
            }
        
            scrollTop.addEventListener("click", function(){
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0; 
            })

            function scrollUsers(direction){
                if(direction=='left'){
                    users.scrollLeft -= 60; 
                    console.log(direction);
                }else{
                    console.log(direction);
                    users.scrollLeft += 60;
                }
            }
            function startScroll(direction) {
                scrollUsers(direction);
                scrollInterval = setInterval(() => {
                  scrollUsers(direction);
                }, 100); // Adjust speed here (100ms interval)
              }
              
              function stopScroll() {
                clearInterval(scrollInterval);
              }

        </script>
        <script>
            
        </script>
{% endblock main_content %}