{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block main_content %}
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
        <div class="main">
            <div class="loading-spinner">
                Loading...
            </div>
            <div class="users">
                
                {% if users %}
                    
                    {% for user in users %}
                    <a href="{% url 'users:user-profile' user_id=user.id %}">
                        <div class="user">
                            <img id="profile-pic" src="/media/{{user.profile_pic}}" alt="profile pic">
                            <span>{{user.full_name}}</span>
                        </div>
                    </a>
                    {% endfor %}
                        
                {% endif %}
                    
            </div>
        </div>
        {% comment %} <script>
            document.getElementById("go-to-profile").addEventListener("click", function (){
                window.location.href = "{% url 'profile' %}"
            })
        </script> {% endcomment %}
{% endblock main_content %}