{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}
{% block main_content %}
        <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
        <div class="flex flex-row relative overflow-hidden"> 
            {% include 'navbar.html' %}
            <div class="flex flex-col gap-2 overflow-y-scroll h-auto w-2/4 mt-10">
                <div class="flex flex-row w-full justify-between mb-6">
                    <span class="text-2xl font-extrabold">Posts</span>
                    <div class="flex flex-row gap-2">
                        <span class="text-lg font-extrabold cursor-pointer text-gray-400">Recent</span>
                        <span class="text-xl font-extrabold cursor-pointer">Following</span>
                        <span class="text-lg font-extrabold cursor-pointer text-gray-400">Popular</span>
                    </div>
                </div>
                <form 
                    class="flex flex-col gap-2 rounded-2xl bg-gradient-to-br from-blue-300 to-violet-300 p-5 text-gray-800" 
                    action="{% url 'posts:create-post' %}" 
                    method="post" 
                    enctype="multipart/form-data"
                >
                    {% csrf_token %}
                    <div class="flex flex-row w-full relative">
                        {% if current_user.user.useraccount.profile_pic != '' %}
                            <img class="w-12 h-12 rounded-full absolute" src="{{current_user.user.useraccount.profile_pic}}" alt="Avatar">
                        {% else %}
                            <img class="w-12 h-12 rounded-full absolute" src="{% static '/images/user-circle.png' %}" alt="Avatar">
                        {% endif %}
                        <input
                            id="caption"
                            type="text"
                            name="caption"
                            class="text w-full h-12 rounded-full 
                                border-none focus:outline-none 
                                focus:ring-0 pl-16 bg-gray-700 text-white" 
                            placeholder="Share something"
                        />
                        <img id="emoji-picker-button" class="cursor-pointer absolute top-2 right-2 w-8 h-8 rounded-full transition-transform duration-300 hover:scale-125" src="{% static '/images/smile.png' %}" alt="Emoji">
                        {% include 'emoji.html' %}
                    </div>
                    <div class="flex">
                        <img class="w-auto h-50 rounded-lg hidden" id="uploaded-image" src="" alt="">
                    </div>
                    <div class="flex flex-row gap-6 items-start w-full mt-2">
                        <div class="cursor-pointer flex items-center gap-1 text-lg font-bold">
                            <img class="w-6 h-6" src="{% static '/images/image.png' %}" alt="">
                            <input class="hidden" type="file" name="uploaded_image" id="upload-image">
                            <label class="cursor-pointer" for="upload-image">Image</label>
                        </div>
                        <div class="cursor-pointer flex items-center gap-1 text-lg font-bold">
                            <img class="w-6 h-6" src="{% static '/images/pin.png' %}" alt="">
                            <span>Location</span>
                        </div>
                        <div id="public-popup-button" class="font-bold cursor-pointer flex items-center gap-1 text-lg relative">
                            <img class="w-6 h-6" src="{% static '/images/earth.png' %}" alt="">
                            <span class="flex justify-center items-center">Public
                                <span class="material-symbols-outlined">
                                    keyboard_arrow_down
                                </span>
                            </span>
                            <div id="public-popup" class="bg-white absolute top-10 left-6 w-28 rounded-xl hidden">
                                <span class="public-popup-item cursor-pointer hover:bg-violet-300 flex items-center justify-center rounded-xl p-2">Public</span>
                                <span class="public-popup-item cursor-pointer hover:bg-violet-300 flex items-center justify-center rounded-xl p-2">Private</span>
                            </div>
                        </div>
                        <div class="post-button mr-0 ml-auto bg-gray-800 rounded-full p-2 w-24 flex items-center justify-center cursor-pointer">
                            <button class="font-bold text-blue-green text-xl" type="submit">
                                Post
                            </button>
                        </div>
                    </div>
                </form>
                {% if all_posts %}
                    <div class="flex flex-row flex-wrap gap-2 text-gray-800">
                        {% for post in all_posts %}
                            <div class="flex flex-col rounded-2xl bg-gradient-to-br from-blue-300 to-violet-300 items-start w-full h-content">
                                <div class="flex flex-row gap-1 items-center rounded-xl p-4 w-full relative">
                                    {% if post.user.useraccount.profile_pic != '' %}
                                        <img class="w-14 h-14 rounded-full" src="{{post.user.useraccount.profile_pic}}" alt="Avatar">
                                    {% else %}
                                        <img class="w-14 h-14 rounded-full" src="{% static '/images/user-circle.png' %}" alt="Avatar">
                                    {% endif %}
                                    <div class="flex flex-col gap-1 ml-2">
                                    {% if post.user.useraccount == current_user %}
                                        <h3 class="text-lg font-bold">You <span class="font-bold text-gray-600">• {{post.time_difference}} ago</span></h3>
                                    {% else %}
                                        <h3 class="text-lg font-bold">{{post.user.useraccount.full_name}} <span class="font-bold text-gray-600">• {{post.time_difference}} ago</span></h3>
                                    {% endif %}
                                    </div>
                                    <img class="w-8 h-8 rounded-full absolute top-2 right-4 cursor-pointer" src="{% static '/images/more.png' %}" alt="Options">
                                </div>
                                <div class="flex flex-col">
                                    <h3 class="font-bold p-4">{{post.caption|linebreaks}}</h3>
                                    {% if post.post_img %}
                                        <img class="w-full h-auto" src="{{post.post_img}}" alt="Post">
                                    {% endif %}
                                </div>
                                <div class="reaction flex flex-row justify-between p-4 gap-5 w-full">
                                    <div class="flex flex-col items-center justify-center cursor-pointer gap-2">
                                        <img id="like" class="w-8 h-8 opacity-80 transition-transform duration-200 hover:scale-125" src="{% static '/images/heart.png' %}" alt="Like">
                                        {% comment %} <img id="liked" class="liked w-8 h-8 hidden" src="{% static '/images/liked.png' %}" alt="Like"> {% endcomment %}
                                        <span class="font-bold">100 Likes</span>
                                    </div>
                                    <div class="flex flex-col items-center justify-center cursor-pointer gap-2">
                                        <img id="comment" class="w-8 h-8 opacity-80 transition-transform duration-200 hover:scale-125" src="{% static '/images/comment.png' %}" alt="Comment">
                                        {% comment %} <img id="comment-hover" class="w-8 h-8 transition-transform hidden opacity-80" src="{% static '/images/comment-hover.png' %}" alt="Comment"> {% endcomment %}
                                        <span class="font-bold">100 Comments</span>
                                    </div>
                                    <div class="flex flex-col items-center justify-center cursor-pointer gap-2">
                                        <img id="share" class="w-8 h-8 opacity-80 transition-transform duration-200 hover:scale-125" src="{% static '/images/share.png' %}" alt="Share">
                                        <span class="font-bold">100 Shares</span>
                                    </div>
                                    <div class="flex flex-col items-center justify-center cursor-pointer gap-2 ml-auto mr-0">
                                        <img id="share" class="w-8 h-8 opacity-80 transition-transform duration-200 hover:scale-125" src="{% static '/images/bookmark.png' %}" alt="Share">
                                        <span class="font-bold">Save</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="rounded-2xl bg-gradient-to-br from-blue-300 to-violet-300 p-5 mb-8 flex flex-col items-center w-full text-gray-800">
                        <span class="text-lg font-bold mx-auto">That's all for now. Take some rest :)</span>
                    </div>
                    <span class="text-lg font-bold mx-auto">Made with Love🖤</span>
                {% else %}
                    <div class="rounded-2xl bg-gradient-to-br from-blue-300 to-violet-300 p-2 flex flex-col items-center justify-items-center">
                        <h2 class="font-bold mx-auto">No posts</h2>
                    </div>
                {% endif %}
            </div>
            <div class="flex gap-2 flex-col h-full w-1/4 p-5 sm:hidden md:flex  mt-4 overflow-y-scroll">
                <span class="text-xl font-bold mb-4">Stories</span>
                <div class="stories h-auto mb-6">
                    <div class="flex flow-row items-center gap-2 w-full">
                        <div class="previous bg-gradient-to-br from-blue-300 to-violet-300 rounded-xl p-2 w-1/4 h-40">
                            
                        </div>
                        <div class="current bg-gradient-to-br from-blue-300 to-violet-300 rounded-xl p-2 w-2/4 h-52">
                            
                        </div>
                        <div class="next bg-gradient-to-br from-blue-300 to-violet-300 rounded-xl p-2 w-1/4 h-40">
                            
                        </div>
                    </div>
                </div>
                <span class="text-xl font-bold mb-4">Suggestions</span>
                <div class="suggestions h-auto flex flex-col gap-2 mb-6">
                    {% for user in users %}
                    <a href="{% url 'users:user-profile' user_id=user.user.id %}">
                        <div class="flex flex-row items-center justify-between gap-2 font-bold cursor-pointer text-blue-green">
                            {% if user.user.useraccount.profile_pic %}
                                <img class="w-11 h-11 p-1 bg-gradient-to-r from-blue-300 to-violet-300 rounded-full" src="{{user.user.useraccount.profile_pic}}" alt="Avatar">
                            {% else %}
                                <img class="w-11 h-11 p-1 border-2 border-violet-300 rounded-full" src="{% static '/images/user-circle.png' %}" alt="Avatar">
                            {% endif %}
                            <span class="">{{user.user.useraccount.full_name}}</span>
                            <span class="flex items-center bg-gradient-to-br from-blue-300 to-violet-300 pr-4 pl-4 p-2 rounded-full cursor-pointer text-gray-800">
                                Follow
                            </span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <span class="text-xl font-bold mb-4">Trending</span>
                <div class="trending h-auto  mb-6">
                    <div class="flex flex-row gap-2 flex-wrap text-gray-900">
                        <span class="text-xs rounded-lg p-2 bg-gray-700 cursor-pointer font-bold text-blue-green hover:bg-gray-900 hover:text-violet-400">#keralagram</span>
                        <span class="text-xs rounded-lg p-2 bg-gray-700 cursor-pointer font-bold text-blue-green hover:bg-gray-900 hover:text-violet-400">#keralagram</span>
                        <span class="text-xs rounded-lg p-2 bg-gray-700 cursor-pointer font-bold text-blue-green hover:bg-gray-900 hover:text-violet-400">#keralagram</span>
                        <span class="text-xs rounded-lg p-2 bg-gray-700 cursor-pointer font-bold text-blue-green hover:bg-gray-900 hover:text-violet-400">#keralagram</span>
                        <span class="text-xs rounded-lg p-2 bg-gray-700 cursor-pointer font-bold text-blue-green hover:bg-gray-900 hover:text-violet-400">#keralagram</span>
                        <span class="text-xs rounded-lg p-2 bg-gray-700 cursor-pointer font-bold text-blue-green hover:bg-gray-900 hover:text-violet-400">#keralagram</span>
                    </div>
                </div>
            </div>
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>&nbsp;
                </div>
            {% endfor %}
        {% endif %}
        <script>
            document.addEventListener('contextmenu', (event) => {
                event.preventDefault();
            });
            const publicPopupButton = document.getElementById("public-popup-button");
            const publicPopup = document.getElementById("public-popup");
            const emojiPickerButton = document.getElementById("emoji-picker-button");
            const emojiPickerPopup = document.getElementById("emoji-picker");
            const loader = document.getElementById("loader");
            const like = document.getElementById("like");
            const likeHover = document.getElementById("like-hover");
            const liked = document.getElementById("liked");
            const comment = document.getElementById("comment");
            const commentHover = document.getElementById("comment-hover");
            const imageDisplay = document.getElementById("uploaded-image");
            const imageInput = document.getElementById("upload-image");
            const emojis = document.querySelectorAll(".emoji");
            const captionInput = document.getElementById("caption");

            emojis.forEach((emoji)=>{
                emoji.addEventListener("click", ()=>{
                    captionInput.value += emoji.textContent;
                })
            })

            imageInput.addEventListener("change", (event)=>{
                const selectedFile = event.target.files[0];
                if (selectedFile && selectedFile.type.startsWith('image/')) {
                    const reader = new FileReader();
    
                    reader.onload = (e)=>{
                        imageDisplay.src = e.target.result;
                        imageDisplay.classList.remove('hidden');
                    };
    
                    reader.readAsDataURL(selectedFile);
                } else {
                    imageDisplay.classList.add('hidden');
                }
            })

            function togglePopup(popup){
                popup.classList.toggle('hidden');
            }
            publicPopupButton.addEventListener("click", function(){
                togglePopup(publicPopup);
            });
            emojiPickerButton.addEventListener("click", function(){
                togglePopup(emojiPickerPopup);
            });
            window.addEventListener('click', (event) => {
                if(!publicPopupButton.contains(event.target)){
                    publicPopup.classList.add('hidden');
                }
                if(!emojiPickerButton.contains(event.target) && !emojiPickerPopup.contains(event.target)){
                    emojiPickerPopup.classList.add('hidden');
                }
            });
        </script>
{% endblock main_content %}