/* .main {
    background-color: rgb(251, 140, 140);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.image-section {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: -1;
}
#image {
    width: 100%;
    height: 100%;
}
#logo {
    border-radius: 50%;
    height: 15vh;
}
.login-section {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 21, 11);
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form{
    background-color: rgb(255, 255, 255);
    background-blend-mode: hard-light; 
    height: 60vh;
    width: 30vw;
    margin: 10vh 5vh 5vh 10vh;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.signup-section{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    stroke: none;
    height: 10vh;
    width: 30vw;
    margin: 0 5vh 5vh 10vh;
    padding: 2rem;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
}
.login-button {
    width: 16vw;
    background-color: rgb(53, 255, 157);
    border-radius: 50px;
    border: none;
    margin-top: 2vh;
    padding: 8px;
    font-weight: bolder;
    font-size: large;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    transition: transform .2s;
}
.login-button:hover {
    transform: scale(1.1);
}
input {
    width: 20vw;
    padding: 8px;
    border: none;
    border-bottom: 1px dashed black;
    font-family: inherit;
    font-weight: bold;
    font-size: 500;
    background-color: rgba(175, 60, 60, 0);
}
input:focus {
    background-color: rgba(162, 241, 252, 0);
    outline: none;
    border: none;
    border-bottom: 1px dashed black;
}
.password-section {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}
#wrong {
    color: rgb(250, 67, 67);
    display: block;
}
@media (max-width: 800px) {
    .login-form {
        width: 60vw;
    }
    .signup-section {
        width: 60vw;
    }
    input {
        width: auto;
    }
}
/* @media (max-width: 500px) {
    .login-form {
        width: 60vw;
    }
    .signup-section {
        width: 60vw;
    }
    input {
        width: auto;
    }
} */ */