/* main */
.profile-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


/* profile content */
.profile-content {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.profile-pic {
    width: 30vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 1px dashed rgb(0, 0, 0);
    border-radius: 20px;
}
.profile-pic img {
    width: 90%;
    height: auto;
    border-radius: 20px 20px 0 0;
    border: none;
    margin-top: 20px;
}
.profile-post-section {
    width: 69vw;
    margin-left: 1vw;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    border: 1px dashed rgb(0, 0, 0);
    border-radius: 20px;
}

.followers-section{
    display: flex;
    flex-direction: row;
    border: 1px dashed black;
    border-radius: 20px;
}
.post-count,.followers,.following{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    border: 1px dashed black;
    border-radius: 20px;
    padding: 10px;
    font-weight: 900;
}
.about-section {
    font-weight: 900;
}
.follow-button {
    background-color: aqua;
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 2vh;
    font-weight: bold;
    cursor: pointer;
}
.create-post-section {
    display: flex;
    justify-content: end;
}
.create-post-button {
    cursor: pointer;
    margin: 2vh;
    /* border: 2px dashed black; */
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: aqua;
}
.posts {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}
.post {
    width: 20vw;
    height: auto;
    cursor: pointer;
    margin: 1vw;
    border-radius: 10px;
}