.main {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 21, 11);
    /* background-image: url('/static/images/bg.jpg');
    background-size: 100% 100%;
    background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo {
    border-radius: 50%;
    height: 15vh;
}
.go-back-section {
    display: flex;
    align-items: start;
    width: 100%;
}
#go-back {
    height: 30px;
    width: auto;
    margin-right: auto;
    cursor: pointer;
}
.signup-section{
    height: auto;
    width: 30vw;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.login-section {
    height: 10vh;
    margin-top: 2vh;
    width: 30vw;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
input {
    width: 15vw;
    padding: 8px;
    border: none;
    border-bottom: 1px dashed black;
    font-family: inherit;
    font-weight: bold;
    font-size: 500;
    background-color: rgba(175, 60, 60, 0);
}
input:focus {
    background-color: rgba(162, 241, 252, 0);
    outline: none;
    border: none;
    border-bottom: 1px dashed black;
}
#gender {
    background-color: rgba(245, 245, 245, 0.006);
    font-family: inherit;
    border: none;
    border-bottom: 1px dashed black;
    width: 16vw;
    padding: 8px;
    font-weight: bold;
    font-size: 500;
    color: rgb(41, 41, 41);
}
.signup-button {
    width: 16vw;
    background-color: rgb(53, 255, 157);
    border-radius: 20px;
    border: none;
    margin-top: 2vh;
    padding: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
}
p {
    padding-left: 20px;
    padding-right: 20px;
}
#warning{
    color: rgb(255, 57, 57);
    font-weight: 900;
}
#user-warning{
    color: rgb(255, 57, 57);
    font-weight: 900;
}