.main {
    height: 100%;
    width: 100%;
    background-image: url('/static/images/gotham.jpg');
    /* background-size: 100% 100%; */
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo {
    border-radius: 50%;
    height: 15vh;
}
.signup-section{
    height: auto;
    width: 30vw;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.427);
    font-weight: bold;
}
.login-section {
    height: 10vh;
    margin-top: 2vh;
    width: 30vw;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.427);
}
input {
    width: 15vw;
    padding: 8px;
    border: none;
    border-bottom: 1px dashed black;
    font-family: inherit;
    font-weight: bold;
    font-size: 500;
    background-color: rgba(175, 60, 60, 0);
}
input:focus {
    background-color: rgba(162, 241, 252, 0);
    outline: none;
    border: none;
    border-bottom: 1px dashed black;
}
#gender {
    background-color: rgba(245, 245, 245, 0.006);
    font-family: inherit;
    border: none;
    border-bottom: 1px dashed black;
    width: 16vw;
    padding: 8px;
    font-weight: bold;
    font-size: 500;
    color: rgb(41, 41, 41);
}
.signup-button {
    width: 16vw;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    margin-top: 2vh;
    padding: 8px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
}
p {
    padding-left: 20px;
    padding-right: 20px;
}
#warning{
    color: rgb(255, 57, 57);
    font-weight: 900;
}
#user-warning{
    color: rgb(255, 57, 57);
    font-weight: 900;
}