h1{
    color: rgb(0, 0, 0);
}
.chat-section {
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.view-profile {
    background-color: rgb(3, 255, 129);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s;
}
.view-profile:hover {
    transform: scale(1.1);
}
#chat-pic {
    height: 100px;
    width: 100px;
}
.messages-section {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100% ;
    height: auto;
    border: none;
    border-radius: 20px;
}
.message-content-sent {
    background-color: rgb(17, 255, 136);
    color: #9d9d9d;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-right: 0;
    margin-left: auto;
    font-weight: bold;
    position: relative;
    transform: translateX(-40%);
}
.message-content-recieve {
    background-color: rgb(35, 255, 211);
    color: #9d9d9d;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: 0;
    font-weight: bold;
    position: relative;
    transform: translateX(40%);
}
.message-content-sent .corner {
        background-color: rgb(17, 255, 136);
        height: 20px;
        width: 50px;
        position: absolute;
        top: 20px;
        right: -40px;
        border: none;
        border-right: none;
        border-radius: 0 100% 0 0;
        z-index: 2;
}
.message-content-recieve .corner {
    background-color: rgb(35, 255, 211);
    height: 20px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: -40px;
    border: none;
    border-right: none;
    border-radius: 100% 0 0 0;
    z-index: 2;
}
.message-content-sent h2 {
    color: #025a3a;
}
.message-content-sent h3 {
    color: #000000;
}
.message-content-recieve h2 {
    color: #00965f;
}
.message-content-recieve h3 {
    color: #000000;
}
.messages-sent{
    display: flex;
    gap: 10px;
    width: 50%;
    margin-left: auto;
}
.messages-recieve{
    display: flex;
    gap: 10px;
    margin-right: auto;
    margin-left: 0;
}
.sent-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.message-input-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
#message-input {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-family: inherit;
    font-weight: bold;
    font-size: large;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 255, 229);
}
.sent-icon{
    width: 50px;
    height: auto;
    /* position: absolute; */
    top: 70px;
    right: 20px;
    cursor: pointer;
    color: #00965f;
    font-size: xx-large;
    font-weight: bolder;
    transform: none;
    transition: none;
}
#message-container {
    height: 500px;
    width: auto;
    background-color: #00965f;
    border-radius: 10px;
    padding: 10px;
}



